div#layout {background-color: cornsilk; padding-top: 10px; padding-bottom: 20px;}
h1, h3, h2, h4 {font-family: Georgia; text-align: center; color: rgb(204, 143, 29);}
p {font-family: Verdana; margin-right: 20%; margin-left: 20%; color: saddlebrown;}
ul {margin-left: 30%; margin-right: 30%; font-family: Georgia;}
td {font-family: Georgia;}
